<mat-toolbar color="primary">
    <span>Listado Personas</span>
</mat-toolbar>

<mat-card>
    <mat-card-content>

    <mat-form-field>
      <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese apellido de la persona" #input autocomplete="off">
    </mat-form-field>

    <button mat-raised-button color="primary">Agregar</button>
    <br>
    <br>  
    <table  matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Cedula">
          <th mat-header-cell *matHeaderCellDef> Cedula </th>
          <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="Telefono">
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef> Direccion </th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="Sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha_Nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento |  date:"dd/MM/yyyy "}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element" > 
            <mat-icon class="btnedit" matTooltip="Editar" >edit</mat-icon> 
            <mat-icon class="btndelete" matTooltip="IEliminar">delete</mat-icon> 
          </td>
        </ng-container>  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
</mat-card-content> 
</mat-card>

