<h2 mat-dialog-title>Agregar Persona</h2>

<form [formGroup]="form" (ngSubmit)="addEditPersona()">
    <mat-dialog-content class="mat-typography">
    
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Cedula</mat-label>
                    <input formControlName="cedula" matInput placeholder="Ingrese Cedula" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput placeholder="Ingrese Apellido" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="telefono" matInput placeholder="Ingrese Telefono" autocomplete="off">
                </mat-form-field>
            </div>
    
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput placeholder="Ingrese Nombre" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Direccion</mat-label>
                    <input formControlName="direccion" matInput placeholder="Ingrese Direccion" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                            <mat-option *ngFor="let item of tipoSexo" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Elige Una Fecha</mat-label>
                    <input formControlName="fecha_nacimiento" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mat-button (click)="cancelar()">Cancelar</button>
        <button type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>